.account-setup .blur-box {
    padding: 18px;
    width: 95%;
    max-width: 1000px;
    justify-content: flex-start;
    font-size: 1.5em;
}

.setup-menu-input {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setup-menu-input input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 3px 0 3px;
    margin-right: 10px;
    color: #fff;
}

.setup-menu-input input:disabled {
    color: black;
}

.setup-menu-input input:focus {
    border: 1px solid blue;
}

.setup-menu-input i {
    margin-right: 10px;
}

.setup-input-wrapper {
    margin-top: 25px;
}

.setup-menu-input .btn {
    width: 120px;
}