.home,
.account,
.account-setup,
.services,
.sign-up,
.sign-in,
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.account {
    background-color: #2d333b;
}

.account-setup {
    background-image: url('/public/images/img-2.jpg');
}

.sign-in {
    background-image: url('/public/images/img-7.jpg');
    /*width: 100;*/
}

.sign-up {
    background-image: url('/public/images/img-signup.jpeg');
}

.services {
    background-image: url('/public/images/img-services.webp');
}

.not-found {
    align-items: baseline;
    background-image: url('/public/images/img-404.jpeg');
    font-size: 3.25em;
}

.not-found small {
    display: flex;
    justify-content: center;
}

.blur-box {
    padding: 40px 35px 40px 35px;
    border: 2px solid rgba(255, 255, 255, 0.45);
    border-radius: 15px;
    backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}